#include "Version.xcconfig"

CA_SDK_PATH = Vendor/CoreAudio

HEADER_SEARCH_PATHS = $(CA_SDK_PATH)/**
CURRENT_PROJECT_VERSION = $(APP_BUNDLE_VERSION)

DEVELOPMENT_TEAM = E27KE6VTF6

// You can use this file to override project settings (such as DEVELOPMENT_TEAM, File/Framework Search Paths, etc.)
#include? "Developer.xcconfig"

